<div class="container comment-container" id="comment-<%=comment.id%>">
    <i class="author text-primary">
      <small><%= comment.user.first_name %> - </small>
      <small><%= comment.created_at.strftime("%a %b %e at %l:%M%p") %>:</small>
    </i>
    <p><%= comment.content%></p>
  </div>
