<div class="container">
  <h1 class="my-3">My profile page</h1>

  <h2 class="my-3">My reviews</h2>
  <% @user.reviews.each do |review| %>
    <%= review.score %>
    <%= review.comment %>
  <% end %>
</div>

