<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.0)), url('<%= image_path "Banner6.png" %>');">
  <div class="container d-flex align-items-center flex-column">
    <h1>Konnected brings <strong>tech alumni</strong> to <strong>small companies</strong>!</h1>
    <p>No need to invest huge amounts to develop your project.</p>
    <div class="d-flex">
      <form method="GET" action="/users/sign_up">
        <input type="hidden" id="custId" name="student" value="false">
        <button type="submit" class="btn btn-secondary mx-3">
          Start your project
        </button>
      </form>
      <form method="GET" action="/users/sign_up">
        <input type="hidden" id="custId" name="student" value="true" >
        <button type="submit" class="btn btn-outline-light mx-3">
          Register as student
        </button>
      </form>
    </div>
  </div>
</div>
<div class="position-relative">
  <div class="shape shape-bottom shape-fluid-x svg-shim text-dark">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"></path></svg>
  </div>
</div>
<div class="container my-5 d-flex align-items-center flex-column">
  <div class="card-homepage shadow p-4 mb-5 col-10">
    <div class="row">
      <div class="col-12 col-md-2 feature-col mt-2">
        <i class="fas fa-laptop-code feature-home"></i>
      </div>
      <div class="col-12 col-md-10">
        <h2>Fully personalized website</h2>
        <p>Everything is up to you, but we are there to support you from the beginning to the end. <br>
        When creating your project, we will ask you which pages and features you need for your website. <br>
        If you don't know where to start, take a look at our article <a href="#">How do I know what I need for my website?</a> </p>
      </div>
    </div>
  </div>

  <div class="card-homepage shadow p-4 mb-5 col-10">
    <div class="row">
      <div class="col-12 col-md-2 feature-col mt-2">
        <i class="far fa-comments feature-home"></i>
      </div>
      <div class="col-12 col-md-10">
        <h2>Real time updates</h2>
        <p>Your developer will show you the updates after each feature implementation so that you can
        have an overview of the project at any point in time. <br>
        Communication is key, this is why the platform has a whole communication tool implemented.</p>
      </div>
    </div>
  </div>

  <div class="card-homepage shadow p-4 mb-5 col-10">
    <div class="row">
      <div class="col-12 col-md-2 feature-col mt-2">
        <i class="far fa-check-square feature-home"></i>
      </div>
      <div class="col-12 col-md-10">
        <h2>Money back guarantee</h2>
        <p>When starting working on your project, your developer will develop a prototype to show you what the application will look like
        and what the features will do.<br>
        If you are not satisfied with the final project, our team will compare the final results with the prototype you agreed on. <br>
        Our student will continue working on the project until the final results are satisfying all the needs listed in the prototype.</p>
      </div>
    </div>
  </div>
</div>
<div class="card-container">
  <h1 class="big-text my-5 mx-5">GET INSPIRED WITH <br>
       PROJECTS MADE BY <br>
       OUR JUNIOR DEVELOPERS</h1>
    <div class="card-post">
        <div class="card-header_post">
            <img src="https://res.cloudinary.com/dpak1zdvv/image/upload/v1599089583/project1_vdsb5a.png" alt="">
        </div>

        <div class="card-body_post">
            <div class="card-post_content">

                <h1>Webshop Creation</h1>
                <p>Creation of a fully responsive eCommerce website without front end template with HTML CSS and Bootstrap.
                  Use of Ruby on Rails for the backend.</p>
                <div class="card-container_infos">
                    <div class="postedBy">
                        <span>Dev</span>
                        Nicolas Emmery
                    </div>

                    <div class="card-container_tags">
                        <span>Skills</span>
                        <div class="card-tags">
                            <ul>
                                <li>design</li>
                                <li>front end</li>
                                <li>back end </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

   <div class="card-post">
    <div class="card-header_post">
        <img src="https://res.cloudinary.com/dpak1zdvv/image/upload/v1599089564/project3_e6iptf.png" alt="">
    </div>

    <div class="card-body_post">
        <div class="card-post_content">

            <h1>Responsive website</h1>
            <p>Creation of a website for a fitness coach in only two weeks with a booking system using the MVC pattern enabled by Rails.
                Java Script has been used. </p>
            <div class="card-container_infos">
                <div class="postedBy">
                    <span>Dev</span>
                    George Kosmo
                </div>
                <div class="card-container_tags">
                    <span>skills</span>
                    <div class="card-tags">
                        <ul>
                            <li>Rails</li>
                            <li>JS</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
   <div class="card-post">
        <div class="card-header_post">
            <img src="https://res.cloudinary.com/dpak1zdvv/image/upload/v1599089564/project2_xgedct.png" alt="">
        </div>

        <div class="card-body_post">
            <div class="card-post_content">

                <h1>Webshop Creation</h1>
                <p>Website for a retailer with payment integration and review system. The front end has been entirely
                  build with CSS classes.
                </p>
                <div class="card-container_infos">
                    <div class="postedBy">
                        <span>Dev</span>
                      Abdel Laqdim
                    </div>

                    <div class="card-container_tags">
                        <span>Skills</span>
                        <div class="card-tags">
                            <ul>
                                <li>front end</li>
                                <li>back end </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>






<div class="position-relative">
  <div class="shape shape-bottom shape-fluid-x svg-shim text-dark">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"></path></svg>
  </div>
</div>
<div class="footer" style="background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.0)), url('<%= image_path "Banner6.png" %>');">
  <div class="container d-flex align-items-center flex-column">
    <div class="footer">

      <p>Website made with <i class="far fa-heart"></i> by
      <a href="https://github.com/louisdemof" target="_blank">Louis de Moffarts</a>,
      <a href="https://github.com/Lennertgova" target="_blank">Lennert Govaerts</a>,
      <a href="https://github.com/kristinger"target="_blank">Kristin Gerlach</a> &
      <a href="https://github.com/mailysrenson" target="_blank">Maïlys Renson</a>
      </p>
    </div>
  </div>
</div>
