<div class="container">
  <h1 class="my-3">Project Confirmation</h1>
  <div>
    <h2>Add recap of the price here</h2>
  </div>
  <%= simple_form_for(@project) do |f| %>
    <input type="hidden" name="project[status]" value="published">
    <%= f.submit %>
  <% end %>
</div>
