<h2>Project Confirmation</h2>
  <div>
    <h2>Add recap of the price here</h2>
  </div>
  <%= simple_form_for(@project) do |f| %>
  <input type="hidden" name="project[status]" value="published">
  <%= f.submit %>
<% end %>
