<h2> you need at least a page</h2>
  <%= simple_form_for(@project) do |f| %>
  <input type="hidden" name="project[status]" value="page_stage">
  <%= f.association :pages, as: :check_boxes %>
  <%= f.submit %>
<% end %>
