.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.inside-page {
  left: -370px;
  top: 55px;
}

.move-left {
  left: -88px;
  top: 55px;
}
