.shape {
    position: absolute;
    pointer-events: none;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    transform-origin: top center;
    width: 100%;
    height: auto;
    transform: scale(2);
    color: white !important;
  }
