// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

h1{
  color: $blue;
}


p {
  font-size: 14px;
  font-weight: 300;
}

.primary-color{
  color: #167FFB;
}

.success-color{
  color: #1EDD88;
}

.bold{
  font-weight: bold;
}

.flex{
  display: flex;
  align-items: baseline;
  justify-content: left;
}

.flexbox{
  margin-right: 7px;
  margin-bottom: 7px;
}



.underlined{
  border-bottom: 3px solid #3377ff;
  display: inline;
}

#text_form{
  height: 150px;
}

#time_update{
  font-size: 14px;
  color: grey;
}
.comment_content {
  margin-bottom: 0px !important;
  width: 100%;
}