<div class="container d-flex flex-column align-items-center">
  <h2 class="text-center my-4">Updates</h2>
    <% @new_solicitation_first = @solicitation.intermediary_updates.reverse %>
    <% @new_solicitation_first.each do |update| %>
      <div class="card w-75 my-3">
        <div class="card-header bg-white">
          <%= "#{update.created_at.day}/#{update.created_at.month}/#{update.created_at.year} at #{update.created_at.hour}:#{update.created_at.min} "%>
        </div>
        <div class="card-body">
          <h5 class="card-title">Update <%= update.id + 1 %></h5>
          <p class="card-text">
            <%= update.description %>
          </p>
          <% unless update.url.empty? %>
            <p class="card-text"><%= link_to "Click here to see the update", "#{update.url}"%></p>
          <% end %>
          <% if update.documents %>
            <p class="card-text">show documents</p>
          <%end%>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    <% end %>
  </div>
</div>

